/* fonts */
@font-face {
  font-family: '4fd';
  src: url('fonts/4fd.woff2') format('woff2');
}

@font-face {
  font-family: '72e';
  src: url('fonts/72e.woff2') format('woff2');
}

@font-face {
  font-family: 'dd97';
  src: url('fonts/dd97.woff2') format('woff2');
}

@font-face {
  font-family: 'fb1';
  src: url('fonts/fb1.woff2') format('woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --background-header-black: #1a1e1f;
  --background-grey: #2b2b2b;
  --background-black: #161616;
  --white-text: #f4f4f4;
  --text-hover-blue: #00A3E0;
}

body{
  background: var(--background-grey);
  padding-top: 84px;
}
a {
  text-decoration: none;
  color: var(--white-text);
  font-family: 'fb1';
}

ul{
  list-style: none;
}


/* header styles */
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background-header-black);
  width: 100%;
  height: 84px;
  z-index: 1000;
  transition: background-color  0.4s ease-in-out;
}

.header.scrolled{
  background-color: rgba(34, 34, 34, 0.95);
}
.header .menu-items ul{
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 14px;
  font-weight: 400;
  color: var(--white-text);
  padding-left: 30px;
}
.header .menu-items li{
  padding: 0 15px;
}
.header .menu-items li a:hover{
  color: var(--text-hover-blue);
  transition: 0.4s;
}

.header .menu-items li a.active {
  color: var(--text-hover-blue);
}
.header .logo img {
  transform: scale(1.15);
  padding: 3px 0 0 10px;
}
/* header end  */

/* hero section styles */
.hero-container {
  height: 352px; 
  min-width: 980px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(images/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.webp);
  width: 100%;
}

.hero-content {
  width: 980px;
  height: 137.3px;
  font-weight: 400;
  font-size: 34px;
  white-space: nowrap;
  color: #f4f4f4;
  line-height: 67.2px;
  font-family: '72e';
  
}
.hero-title1 {
  font-size: 42px;
}

/* info section */
.info-container{
  font-family: 'fb1';
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 1000px;
  padding: 50px 0;
  background-color:var(--background-grey);
}

.info-text{
  width: 1000px;
  font-size: 28px;
  color: #f4f4f4;
  line-height: 1.6em;
}
.info-btn-box{
  width: 1000px;
  padding-top: 50px;
}
.info-btn{
  align-items: initial;
  color: #00aef3;
  font-size: 20px;
  font-weight: bold;
  background: none;
  text-decoration: none;
  transition: color 0.3s ease;
}
.info-btn:hover{
  color: #989898;
}


/* სასწავლო კურსების სექცია */
.courses-section {
  font-family: 'fb1';
  width: 100%;
  min-width: 1000px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  background-color: var(--background-black);
}

.courses-container {
  width: 1000px;
}

.courses-container h4 {
  color: #f4f4f4;
  font-size: 24px;
  font-weight: 400;
}

.courses-box {
  padding: 50px 0;
  display: grid;
  grid-template: auto auto / repeat(3, 1fr);
  gap: 20px;
}

.course {
  position: relative;
  background-color: #161616;
  width: 300px;
  height: 415px;
  border: 0.01px solid #f4f4f448;
  border-radius: 5px;
}

.course img {
  width: 100%;
  height: 150px;
  border-radius: 5px 5px 0 0;
}

.course h5 {
  font-size: 18px;
  color: #f4f4f4;
  margin: 30px 20px;
  font-weight: 400;
}

.course p {
  font-size: 14px;
  color: #f4f4f4;
  margin: 0 20px 10% 20px;
}

.course-btn {
  position: absolute;
  bottom: 0;
  margin-left: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.course-btn a {
  text-decoration: none;
  color: #00aef3;
  transition: color 0.3s ease;
}

.course-btn a:hover {
  color: #00aef3ad;
}

.course-btn i {
  color: #00aef3;
  padding: 5px 5px;
  font-size: 16px;
  font-weight: 550;
}


/* carousel */

.carousel-section {
  font-family: 'fb1';
  padding: 20px 0;
  background-color: #2b2b2b;
  width: 100%;
}

.carousel {
  height: 224px;
  position: relative;
}

.carousel-title {
  font-size: 24px;
  color: var(--white-text);
  padding: 20px 0;
  width: 1000px;
  margin: auto;
  font-weight: 100;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin: auto;
  inset: 0;
  opacity: 0;
  transition: 1s opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  object-position: center;
}

.ufc-logo {
  margin: auto;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
  height: 50%;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.carousel-button > img {
  width: 18px;
}

.carousel-button > img:hover {
  opacity: 0.5;
}

.carousel-button:hover {
  color: rgba(255, 255, 255, 0.231);
}

.carousel-button.prev {
  left: 100px;
}

.carousel-button.next {
  right: 100px;
}

.carousel-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

.carousel-dots li {
  width: 6px;
  height: 6px;
  background-color: #f4f4f4;
  border-radius: 50%;
  margin: 40px 0.4rem;
  cursor: pointer;
}
/* carousel end */

/* FAQ */

.faq-section {
  font-family: 'fb1';
  min-width: 1000px;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161616;
}

.faq-container {
  width: 1000px;
  padding: 50px;
}

.faq-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.faq-title-box > h2 {
  color: #f4f4f4;
  font-weight: 200;
}

.faq-title-box > a {
  text-decoration: none;
  color: #00aef3;
  transition: color 0.3s ease;
  font-size: 18px;
  font-weight: bold;
}

.faq-title-box a:hover {
  color: #00aef3ad;
}

.faq-container > ul > li {
  list-style: none;
  padding: 30px 0;
  border-bottom: 1px solid #f4f4f427;
}

.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.question-container > h3 {
  color: #f4f4f4;
  font-size: 18px;
  font-weight: 400;
}

.question-container > i {
  color: #f4f4f4;
  font-size: 12px;
}

.answer-container {
  margin-top: 30px;
  color: #f4f4f4;
  line-height: 1.6rem;
}

.answer-container span {
  font-size: 14px;
}

.answer-container p {
  font-size: 14px;
}

.answer-1 {
  padding: 50px 20px;
}
/* faq end */

/* footer section */
footer {
  min-width: 1000px;
  height: 230px;
  background-color: #1a1e1f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 1000px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first {
  display: flex;
  flex-direction: column;
}

.first > span {
  color: #f4f4f4;
  font-size: 14px;
}

.daculia {
  margin: 30px 0;
}

.second {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}

.facebook-logo {
  margin-right: 5px;
  cursor: pointer;
}

.youtube-logo {
  cursor: pointer;
}

.footer-btn {
  height: 39px;
  width: 169px;
  font-size: 1rem;
  background-color: #00aef3;
  color: #f4f4f4;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.footer-btn:focus {
  outline: none;
}

.footer-btn:hover {
  background-color: #f4f4f4;
  color: #1a1e1f;
}
