@font-face {
  font-family: "4fd";
  src: url("fonts/4fd.woff2") format("woff2");
}

@font-face {
  font-family: "72e";
  src: url("fonts/72e.woff2") format("woff2");
}

@font-face {
  font-family: "dd97";
  src: url("fonts/dd97.woff2") format("woff2");
}

@font-face {
  font-family: "fb1";
  src: url("fonts/fb1.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --background-header-black: #1a1e1f;
  --background-grey: #2b2b2b;
  --background-black: #161616;
  --white-text: #f4f4f4;
  --text-hover-blue: #00a3e0;
  --header-size: 5.25rem;
}

body {
  background: var(--background-grey);
}
a {
  text-decoration: none;
  color: var(--white-text);
  font-family: "fb1";
}

ul {
  list-style: none;
}

@media (min-width: 999px) {


  /* header styles */
  header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-header-black);
    width: 100%;
    height: var(--header-size);
    z-index: 4;
    transition: background-color 0.4s ease-in-out;
  }

  header.scrolled {
    background-color: rgba(34, 34, 34, 0.95);
  }

  header .menu-items {
    display: flex;
    gap: 1.25rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--white-text);
    padding-left: 4rem;
  }

  header .menu-items a {
    text-decoration: none;
    color: var(--white-text);
    padding: 0 0.875rem;
  }

  header .menu-items a:hover {
    color: var(--text-hover-blue);
    transition: 0.4s;
  }

  header .menu-items a.active {
    color: var(--text-hover-blue);
  }

  header .logo img {
    transform: scale(1.15);
    padding: 0.3rem 18rem 0 2rem;
  }

  /* header end  */

  /* hero section styles */
  .hero-container {
    height: 22rem;
    min-width: 61.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.webp);
    width: 100%;
  }

  .hero-content {
    width: 61.25rem;
    height: 8.57rem;
    font-weight: 400;
    font-size: 2.125rem;
    white-space: nowrap;
    color: #f4f4f4;
    line-height: 4.2rem;
    font-family: "72e";
  }
  .hero-title1 {
    font-size: 2.625rem;
  }

  .info-container {
    font-family: "fb1";
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 62.5rem;
    padding: 3.125rem 0;
    background-color: var(--background-grey);

  }

  .info-text {
    max-width: 62.5rem;
    font-size: 1.75rem;
    color: #f4f4f4;
    line-height: 1.6em;
    
  }
  .info-btn-box {
    width: 62.5rem;
    padding-top: 3.125rem;
  }
  .info-btn {
    align-items: initial;
    color: #00aef3;
    font-size: 1.25rem;
    font-weight: bold;
    background: none;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .info-btn:hover {
    color: #989898;
  }

  .courses-section {
    font-family: "fb1";
    width: 100%;
    min-width: 62.5rem;
    padding-top: 2.5rem;
    display: flex;
    justify-content: center;
    background-color: var(--background-black);
  }

  .courses-container {
    width: 62.5rem;
  }

  .courses-container h4 {
    color: #DBDBDB;
    font-size: 1.5rem;
    font-weight: 100;
  }

  .courses-box {
    padding: 3.125rem 0;
    display: grid;
    grid-template: auto auto / repeat(3, 1fr);
    gap: 1.25rem;
  }

  .course {
    position: relative;
    background-color: var(--background-black);
    width: 18rem;
    height: 26rem;
    border: 1px solid #f4f4f448;
    border-radius: 0.312rem;
  }

  .course img {
    width: 100%;
    height: 9.375rem;
    border-radius: 0.312rem 0.312rem 0 0;
  }

  .course h5 {
    font-size: 1.125rem;
    color: var(--white-text);
    margin: 1.875rem 1.25rem;
    font-weight: 400;
  }

  .course p {
    font-size: 0.875rem;
    color: var(--white-text);
    margin: 0 1.25rem 10% 1.25rem;
  }

  .course-btn {
    position: absolute;
    bottom: 0;
    margin-left: 1.25rem;
    margin-bottom: 1.875rem;
    display: flex;
    justify-content: space-between;
  }

  .course-btn a {
    text-decoration: none;
    color: var(--text-hover-blue);
    transition: color 0.3s ease;
  }

  .course-btn a:hover {
    color: #00aef3ad;
  }

  .course-btn i {
    color: #00aef3;
    padding: 0.312rem 0.312rem;
    font-size: 1rem;
    font-weight: 550;
  }
  /* carousel-section */
  .carousel-section {
    font-family: "fb1";
    padding: 1.25rem 0;
    background-color: var(--background-grey);
    width: 100%;
  }

  .carousel {
    height: 14rem;
    position: relative;
  }

  .carousel-title {
    font-size: 1.75rem;
    color: var(--white-text);
    padding: 1.25rem 0;
    width: 62.5rem;
    margin: auto;
    font-weight: 100;
  }

  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .slide {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 62.5rem;
    margin: auto;
    inset: 0;
    opacity: 0;
    transition: 1s opacity ease-in-out;
    transition-delay: 200ms;
  }

  .slide > img {
    display: block;
    object-position: center;
  }

  .ufc-logo {
    margin: auto;
  }

  .slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
    height: 50%;
  }

  .carousel-button {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .carousel-button > img {
    width: 1.125rem;
  }

  .carousel-button > img:hover {
    opacity: 0.5;
  }

  .carousel-button:hover {
    color: rgba(255, 255, 255, 0.231);
  }

  .carousel-button.prev {
    left: 6.25rem;
  }

  .carousel-button.next {
    right: 6.25rem;
  }

  .carousel-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
  }

  .carousel-dots li {
    width: 0.375rem;
    height: 0.375rem;
    background-color: var(--white-text);
    border-radius: 50%;
    margin: 2.5rem 0.4rem;
    cursor: pointer;
  }

  .faq-section {
    font-family: "fb1";
    min-width: 62.5rem;
    padding: 3.125rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-black);
  }

  .faq-container {
    width: 62.5rem;
    padding: 3.125rem;
  }

  .faq-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.75rem;
  }

  .faq-title-box > h2 {
    color: var(--white-text);
    font-weight: 200;
  }

  .faq-title-box > a {
    text-decoration: none;
    color: #00aef3;
    transition: color 0.3s ease;
    font-size: 1.125rem;
    font-weight: bold;
  }

  .faq-title-box a:hover {
    color: #00aef3ad;
  }

  .faq-container > ul > li {
    list-style: none;
    padding: 1.875rem 0;
    border-bottom: 1px solid #f4f4f427;
  }

  .question-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .question-container > h3 {
    color: var(--white-text);
    font-size: 1.125rem;
    font-weight: 400;
  }

  .question-container > i {
    color: var(--white-text);
    font-size: 0.75rem;
  }

  .answer-container {
    margin-top: 1.875rem;
    color: var(--white-text);
    line-height: 1.6rem;
  }

  .answer-container span {
    font-size: 0.875rem;
  }

  .answer-container p {
    font-size: 0.875rem;
  }

  .answer-1 {
    padding: 3.125rem 1.25rem;
  }

  .mobile-link-box {
    display: none;
  }

  /* faq end */

  .mobile-footer-media {
    display: none;
  }

  footer {
    min-width: 62.5rem;
    height: 14.375rem;
    background-color: var(--background-header-black);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-container {
    width: 62.5rem;
    height: 12.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "fb1";
  }

  .first {
    display: flex;
    flex-direction: column;
  }

  .first > span {
    color: var(--white-text);
    font-size: 0.875rem;
  }

  .daculia {
    margin-top: 30px;
  }

  .second {
    height: 7.5rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
  }

  .facebook-logo {
    margin-right: 0.312rem;
    cursor: pointer;
  }

  .youtube-logo {
    cursor: pointer;
  }

  .footer-btn {
    height: 2.4375rem;
    width: 10.5625rem;
    font-size: 1rem;
    background-color: #00aef3;
    color:var(--text-hover-blue);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }

  .footer-btn:focus {
    outline: none;
  }

  .footer-btn:hover {
    background-color: var(--white-text);
    color: var(--background-header-black);
  }
}

/* @media (min-width: 501px) {
  .courses-box {
    padding: 3.125rem 0;
    display: grid;
    grid-template: auto auto / repeat(2, 1fr);
    gap: 1.25rem;
  }
} */

@media (max-width: 1000px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main {
    min-width: 500px;
    padding-top: 100px;
    position: relative;
    background-color: var(--background-grey);
  }

  header.scrolled {
    background-color: rgba(34, 34, 34, 0.95);
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: var(--background-header-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    transition: transform 0.3s ease-in-out;
    z-index: 10;
  }

  header.hidden {
    transform: translateY(-100%);
  }
  .logo {
    position: unset;
  }
  .menu-items {
    display: none;
  }
/* header section for mobile */
header .mobmen-box a.active {
  color: var(--text-hover-blue);
}
.wrapper-menu {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
    z-index: 3;
  }

  .wrapper-menu.open {
    transform: rotate(-45deg);
  }

  .line-menu {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 4px;
  }

  /* .line-menu.open {
    background-color: grey;
  } */

  .line-menu.half {
    width: 50%;
  }

  .line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
  }

  .open .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
  }

  .line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
  }

  .open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
  }

  .mobmen-box {
    width: 0;
    height: 100%;
    left: 0;
    bottom: 0;
    background: rgba(22, 22, 22, 0.62);
    position: fixed;
    z-index: 2;
    overflow: hidden;
  }
  .mobmen-box.active {
    width: 100%;
  }
  .mobmen {
    position: fixed;
    width: 0;
    height: 100%;
    background: #2b2b2b;
    right: 0;
    overflow: hidden;
  }
  .mobmen.active {
    width: 65%;
    transition: 0.5s;
  }
  .mobmenu-items {
    margin-top: 150px;
    margin-right: 20px;
    font-size: 1.4rem;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    white-space: nowrap;
  }
  /* header end */
  .hero-container {
    width: 100%;
    background: url(images/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.webp);
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
  }

  .hero-content {
    font-size: 2.2rem;
    color: var(--white-text);
    padding: 5rem 30px;
    font-family: "72e";
    line-height: 3.8rem;
  }

  .info-container {
    margin-top: 400px;
    padding: 0 30px;
  }

  .info-text {
    font-size: 1.5rem;
    font-family: "dd97";
    line-height: 2.5rem;
    color: var(--white-text);
  }

  .info-btn-box {
    padding: 3.75rem 0;
  }

  .info-btn {
    font-family: "dd97";
    font-size: 1.5rem;
    text-decoration: none;
    color: #00aef3;
  }

  .info-btn:active {
    color: #989898;
  }
/* courses-section for mobile */
  .courses-section {
    width: 100%;
    background-color: #161616;
    padding: 1.875rem;
    font-family: "4fd";
  }

  .courses-title {
    font-family: "fb1";
    font-size: 2.3rem;
    color: var(--white-text);
    white-space: nowrap;
  }

  .course {
    position: relative;
    background-color: var(--background-black);
    width: 100%;
    height: 100%;
    border: 1px solid #f4f4f448;
    border-radius: 0.312rem;
    margin: 2rem 0;
    font-family: "4fd";
  }

  .course img {
    width: 100%;
    border-radius: 0.312rem 0.312rem 0 0;
  }

  .course > h5 {
    font-size: 1.4rem;
    color: var(--white-text);
    font-weight: 400;
    margin-top: 2.3rem;
    margin-left: 1.9rem;
  }

  .course > p {
    font-size: 1.4rem;
    margin-left: 1.9rem;
    margin-top: 1.3rem;
    color: var(--white-text);
  }

  .course-btn {
    position: unset;
    margin: 1.5rem 0 2.3rem 1.9rem;
    display: flex;
  }

  .course-btn a {
    font-size: 1.4rem;
    margin-left: 5px;
    text-decoration: none;
    color: #00aef3;
    transition: color 0.3s ease;
  }

  .course-btn a:hover {
    color: #00aef3ad;
  }

  .course-btn i {
    color: #00aef3;
    padding: 0.312rem;
    font-size: 1.8rem;
    font-weight: 550;
  }
  /* mobile courses section */
  
  .carousel-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "fb1";
    padding: 1.25rem 0;
    background-color: var(--background-grey);
    width: 100%;
  }

  .carousel {
    height: 65vh;
    position: relative;
    width: 100%;
  }

  .carousel-title {
    font-size: 1.75rem;
    color: var(--white-text);
    padding: 1.25rem 2rem;
    width: 100%;
    margin: auto;
    font-weight: 100;
  }

  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .slide {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    opacity: 0;
    inset: 0;
    gap: 50px;
  
  }

  .slide > img {
    display: block;
    object-position: center;
  }

  

  .carousel-button {
    position: absolute;
    display: none;
  }


  .carousel-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
  }

  .carousel-dots li {
    width: 0.375rem;
    height: 0.375rem;
    background-color: var(--white-text);
    border-radius: 50%;
    margin: 2.5rem 0.4rem;
    cursor: pointer;
  }
  .slide[data-active] {
    
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
    height: 50%;
    transition: 1s opacity ease-in-out;
  }

  
  

  /* FAQQQQQQ */

  .faq-section {
    font-family: "fb1";
    width: 100%;
    padding: 3.125rem 2.5rem 0 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-black);
  }

  .faq-container {
    width: 100%;
  }

  .faq-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .faq-title-box > h2 {
    font-size: 2rem;
    margin-bottom: 1.56rem;
    color: var(--white-text);
    line-height: 2.5rem;
    font-weight: 200;
  }

  .faq-title-box > a {
    display: none;
  }

  .faq-title-box a:hover {
    color: #00aef3ad;
  }

  .faq-container > ul > li {
    list-style: none;
    padding: 1.875rem 0;
    border-bottom: 1px solid #f4f4f427;
  }

  .question-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .question-container > h3 {
    color: var(--white-text);
    font-size: 1.6rem;
    font-weight: 400;
  }

  .question-container > i {
    color: var(--white-text);
    font-size: 1.2rem;
  }

  .answer-container {
    margin-top: 1.875rem;
    color: var(--white-text);
    line-height: 1.6rem;
  }

  .answer-container span {
    font-size: 1.4rem;
    line-height: 2.825rem;
  }

  .answer-container p {
    font-size: 1.4rem;
    line-height: 2.825rem;
  }

  .answer-1 {
    padding: 3.125rem 2rem;
  }

  .mobile-link-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
  }

  .mobile-link {
    text-decoration: none;
    color: #00aef3;
    font-size: 1.6rem;
    font-weight: bold;
  }

  /* FOOOOOTER */
  footer {
    min-width: 500px;
  }
  .footer-container {
    width: 100%;
    height: 100%;
    background-color:var(--background-header-black);
    padding: 3.3em;
    font-family: "fb1";
  }

  .first > img {
    width: 10.5rem;
    height: 100%;
  }

  .mobile-footer-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.3rem 0;
  }

  .footer-btn {
    width: 10.5rem;
    height: 3.5rem;
    font-size: 1.4rem;
    background-color: #00aef3;
    color: var(--white-text);
    border-radius: 0.625rem;
    border: none;
    font-family: "fb1";
  }

  .footer-btn:focus {
    outline: none;
  }

  .facebook-logo {
    margin-right: 0.312rem;
    width: 3.44rem;
    height: 100%;
    margin-right: 1.25rem;
  }

  .youtube-logo {
    width: 3.44rem;
    height: 100%;
  }

  .first > span {
    font-size: 1.4rem;
    color: var(--white-text);
  }

  .wesebi {
    padding: 1.25rem 0;
    display: inline-block;
  }

  .second {
    display: none;
  }
}